@import "tailwindcss";

@theme {
  --color-primary: #213555;
  --color-primary-light: #214857;
  --color-primary-dark: #213555;
}

body {
  background-color: #f9fafb;
}

.search .wrapper {
  width: 100% !important;
  border-radius: 4px !important;
  border: 1px solid #d1d5db !important;
  background-color: #f9fafb !important;
  box-shadow: none !important;
  overflow: hidden !important;
}

.search .wrapper:first-child input {
  padding: 6px 50px 6px 12px !important;
  width: 100% !important;
  height: auto !important;
  font-size: 14px !important;
  color: #111827 !important;
  border: none !important;
  background: transparent !important;
  outline: none !important;
}

.search .wrapper:first-child svg {
  display: none;
  color: #6b7280 !important; /* gray-500 */
  margin-left: 12px !important;
  width: 16px !important;
  height: 16px !important;
}

.search .results {
  border-radius: 4px !important;
  border: 1px solid #d1d5db !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

.search .result-item:hover {
  background-color: #f3f4f6 !important;
}

:root {
  --toastify-z-index: 0;

}